<section id="about"  class="module4 image-responsive">






<div class="row bg-full">
 <img src="img/gunny.jpg" style="width: 100%; z-index: 0;  margin-right: -15px; margin-left: 15px;   padding-bottom: 0px; padding-left: 0px;"
        class="img-responsive" alt="2&quot;he">
            
            <div class="col-sm-6 col-sm-offset-3">
                <div class="row">
                    <div id="about3" class="col-xs-10 col-xs-offset-1 col-md-10 col-xs-offset-1">
                        <div class="row" style="margin-top: -20%;">
                            <div style="z-index: 20;" class="col-xs-10 col-xs-offset-1 text-center ">
                                <h2 class="text-center module-title">PHILOSOPHY</h2>
                                <hr>
                            </div>
                        </div>
                        <p class="text-center lead module-subtitle">Not to pat ourselves on the back, but.........<br> Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Aliquid architecto consequuntur aut tenetur blanditiis sed similique doloremque qui voluptatum
                            laborum deleniti inventore iure numquam praesentium vitae aspernatur tempore, commodi quia.</p>
                       
                    </div>
                </div>
            </div>



</div>

</section>


<!--<section id="aboutImg" class="module image-responsive">
    <div id="triangle-topleft4"></div>
    <div id="triangle-topleft5" style="margin-top: -5%;"></div>
    <div id="triangle5-bottom" style="margin-top: -5%;"></div>-->


    <!--<img src="img/bag.png" style="width: 100%; z-index: 9999;  margin-right: -15px; margin-left: 0; padding-top: 10px;  padding-bottom: opx; padding-left: 0px;"
        class="img-responsive" alt="2&quot;he">-->
<!--</section>-->