<section id="about" class="module">

	<div class="container-fluid container-custom">

		<!-- MODULE TITLE -->
		<div class="about row">
			<div class="col-sm-6 col-sm-offset-3">
				<h2 class="text-center module-title font-alt">About</h2>
				<hr>
				<p class="text-center lead module-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A reiciendis tenetur porro veniam aut, eos fuga in eius. Accusantium repudiandae repellat ipsam dignissimos ex provident natus animi consectetur quasi nihil.</p>
			</div>
		</div>
	</div>
</section>




<!--<section id="shop" class="module image-responsive">
	<img src="img/bag.png" style="z-index: 10;  width: 100%; position: relative; margin-right: -15px; margin-bottom: -15px; padding-bottom: 0px;"
				class="img-responsive" alt="2&quot;he">
	<div id="logo">
	</div>
</section>-->


