


<section id="roasters" style="top: 0px;" class="module4 image-responsive">
    <div class="container-fluid container-custom">

        <!-- MODULE TITLE -->
        <div class="roasters row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="row">

                    <div id="roasters3" class="col-xs-12 col-md-12">
                        <h2 class="text-center module-title font-alt">Our Roasters</h2>
                        <hr>
                        <p class="text-center lead module-subtitle">Not to pat ourselves on the back, but.........<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto consequuntur aut tenetur blanditiis sed similique doloremque qui voluptatum laborum deleniti inventore iure numquam praesentium vitae aspernatur tempore, commodi quia.</p>
                        <hr>
                        <a> <p class="btn" ng-click="show = !show"
                            style="color: black;">Beans</p>

                        </a>

                    </div>

                
                </div>
            </div>
        </div>
    </div>
</section>

<div ng-show="show" id="roasters2">
    <div class="module image-responsive">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail row">
                        <div class="col-xs-5 col-md-6">

                            <img src="img/bottle2.png" style="height: 200px;" alt="wine bottle">
                        </div>
                        <div class="col-xs-7  col-md-6 caption">
                            <h3>Beans</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum nisi porro tempore, aut quos odit, provident quibusdam nemo ipsum quia ducimus beatae sit adipisci illo dolore pariatur magnam temporibus accusamus. </p>
                            <a href="">click for more...</a>
                            <p><a href="#" class="btn" role="button">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail row">
                        <div class="col-xs-5 col-md-6">

                            <img src="img/bottle2.png" style="height: 200px;" alt="wine bottle">
                        </div>
                        <div class="col-xs-7  col-md-6 caption">
                            <h3>2012 Estate Sangiovese</h3>
                            <p>Sangiovese is the ultimate food wine, thanks to great acidity, bright red flavors and moderate
                                tannins. It’s like pinot noir with sass. </p>
                            <a href="">click for more...</a>
                            <p><a href="#" class="btn" role="button">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail row">
                        <div class="col-xs-5 col-md-6">

                            <img src="img/bottle2.png" style="height: 200px;" alt="wine bottle">
                        </div>
                        <div class="col-xs-7  col-md-6 caption">
                            <h3>2012 Estate Sangiovese</h3>
                            <p>Sangiovese is the ultimate food wine, thanks to great acidity, bright red flavors and moderate
                                tannins. It’s like pinot noir with sass. </p>
                            <a href="">click for more...</a>
                            <p><a href="#" class="btn" role="button">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail row">
                        <div class="col-xs-5 col-md-6">

                            <img src="img/bottle2.png" style="height: 200px;" alt="wine bottle">
                        </div>
                        <div class="col-xs-7  col-md-6 caption">
                            <h3>2012 Estate Sangiovese</h3>
                            <p>Sangiovese is the ultimate food wine, thanks to great acidity, bright red flavors and moderate
                                tannins. It’s like pinot noir with sass. </p>
                            <a href="">click for more...</a>
                            <p><a href="#" class="btn" role="button">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail row">
                        <div class="col-xs-5 col-md-6">

                            <img src="img/bottle2.png" style="height: 200px;" alt="wine bottle">
                        </div>
                        <div class="col-xs-7  col-md-6 caption">
                            <h3>2012 Estate Sangiovese</h3>
                            <p>Sangiovese is the ultimate food wine, thanks to great acidity, bright red flavors and moderate
                                tannins. It’s like pinot noir with sass. </p>
                            <a href="">click for more...</a>
                            <p><a href="#" class="btn" role="button">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail row">
                        <div class="col-xs-5 col-md-6">

                            <img src="img/bottle2.png" style="height: 200px;" alt="wine bottle">
                        </div>
                        <div class="col-xs-7  col-md-6 caption">
                            <h3>2012 Estate Sangiovese</h3>
                            <p>Sangiovese is the ultimate food wine, thanks to great acidity, bright red flavors and moderate
                                tannins. It’s like pinot noir with sass. </p>
                            <a href="">click for more...</a>
                            <p><a href="#" class="btn" role="button">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail row">
                        <div class="col-xs-5 col-md-6">

                            <img src="img/bottle2.png" style="height: 200px;" alt="wine bottle">
                        </div>
                        <div class="col-xs-7  col-md-6 caption">
                            <h3>2012 Estate Sangiovese</h3>
                            <p>Sangiovese is the ultimate food wine, thanks to great acidity, bright red flavors and moderate
                                tannins. It’s like pinot noir with sass. </p>
                            <a href="">click for more...</a>
                            <p><a href="#" class="btn" role="button">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12  col-md-4">
                    <div class="thumbnail row">
                        <div class="col-xs-5 col-md-6">

                            <img src="img/bottle2.png" style="height: 200px;" alt="wine bottle">
                        </div>
                        <div class="col-xs-7  col-md-6 caption">
                            <h3>2012 Estate Sangiovese</h3>
                            <p>Sangiovese is the ultimate food wine, thanks to great acidity, bright red flavors and moderate
                                tannins. It’s like pinot noir with sass. </p>
                            <a href="">click for more...</a>
                            <p><a href="#" class="btn" role="button">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12  col-md-4">
                    <div class="thumbnail row">
                        <div class="col-xs-5 col-md-6">

                            <img src="img/bottle2.png" style="height: 200px;" alt="wine bottle">
                        </div>
                        <div class="col-xs-7 col-md-6 caption">
                            <h3>2012 Estate Sangiovese</h3>
                            <p>Sangiovese is the ultimate food wine, thanks to great acidity, bright red flavors and moderate
                                tannins. It’s like pinot noir with sass. </p>
                            <a href="">click for more...</a>
                            <p><a href="#" class="btn" role="button">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="aboutImg"  class="module image-responsive">
    <div style="position: relative;" class="row bg-full">
   <div id="triangle-topleft4" style="position: relative;" ></div>
    <div id="triangle-topleft5" style="position: relative;"></div>
   <div id="triangle5-bottom" style="position: relative;"></div>
    <img src="img/mug.png" style="width: 100%; z-index: 22;  margin-right: -15px; margin-left: 0; padding-top: 10px;  padding-bottom: opx; padding-left: 15px;"
        class="img-responsive" alt="2&quot;he">
        </div>
</div>
