<div class="module2">

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center wrapper-xs wrapper-no-padding-top">
        <!--<span class="subheading">Who we are</span>-->
         <div class="row">
                            <div class="col-xs-6 col-xs-offset-3 text-center ">
                                <h2 class="text-center">ROASTERS</h2>
                                <hr>
                            </div>
                        </div>

        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione voluptatum, possimus culpa ducimus aspernatur adipisci, magnam molestias, assumenda quo reiciendis sapiente iste delectus ullam enim voluptatem accusamus maiores, accusantium illo. weekend ...</p>
      </div>
    </div>
  <div id="roasters" class="container">


    <div class="row text-center">
      <div id="mugs" class="col-md-4">
        <div class="row"> 
          <div style="background: rgba(246, 251, 251, .1); padding-top: 5%; margin-left: 1%; margin-right: 1%;" class="col-md-10 wrapper-default wrapper-xs wrapper-shadow no-gutter">
            <img src="img/coffeeBag.jpg" class="pull-top" style="width: 200px; " alt="image">


            <h2>Rocky Mountain Roasters</h2>
            <p>Boise ID </p>
            <a>
              <p class="btn" ng-click="show = !show">Read more...</p>
            </a>
            <div ng-show="show">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus commodi ratione laudantium, asperiores cumque dolor! Atque velit repellat fugit praesentium neque commodi totam earum! Vitae doloribus recusandae pariatur, reiciendis quidem!</p>
            </div>

          </div>
        </div>
      </div>

      <div id="mugs" class="col-md-4">
        <div class="row">
          <div style="background: rgba(246, 251, 251, .1); padding-top: 5%;" class="col-md-10 col-md-offset-1 wrapper-default wrapper-xs wrapper-shadow no-gutter">
            <img src="img/coffeeBag.jpg" class="pull-top" style=" width: 200px;" alt="image">


            <h2>The Portland Perk</h2>
            <p>Portland OR</p>
            <a>
              <p class="btn" ng-click="dow = !dow">Read more...</p>
            </a>
            <div ng-show="dow">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sequi harum reiciendis eius amet, veniam praesentium ut accusantium architecto dignissimos! Veniam voluptatem amet perferendis, possimus odio repellat itaque suscipit dolorem.</p>
            </div>
          </div>

        </div>
      </div>

      <div id="mugs" class="col-md-4">
        <div class="row team">
          <div style="background: rgba(246, 251, 251, .1); padding-top: 5%;" class="col-md-10 col-md-offset-2 wrapper-default wrapper-xs wrapper-shadow no-gutter">
            <img src="img/coffeeBag.jpg" class="pull-top" style="width: 200px;" alt="image">
            <h2>Coffee Perk</h2>
            <p>Walla Walla WA</p>
            <a>
              <p class="btn" ng-click="how = !how">Read more...</p>
            </a>
            <div ng-show="how">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima animi blanditiis voluptatem, magni omnis incidunt suscipit iste voluptate provident saepe tempore dicta tenetur distinctio velit inventore et quasi temporibus id!</p>
            </div>
            <p></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>