#roasters{
    background: black;
    color: grey;
   padding-top: 5%;
   padding-bottom: 10%;

}
.module2, .module2-sm, .module2-xs {
    background-color: black;
    background-attachment: fixed;
    padding-top: 70px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#roasters h2{
    color: #b4a755;
    font-family: 'Roboto', sans-serif;
}
#roasters p{
    margin-bottom: 30px;
       font-family: 'Roboto', sans-serif;
     color: lightgrey;
}
#mugs .img{
    margin-left: 0;
    margin-right: 0;
}
#mugs .btn{
    /*background: #b4a755;*/
    color: #b4a755;
     margin-bottom: 10%;
     border: 1px #b4a755 solid; 
}
html, p, h2, h3{
      font-family: 'Roboto', sans-serif;
}