<div class="module2">
  <div id="team" class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center wrapper-xs wrapper-no-padding-top">
        <!--<span class="subheading">Who we are</span>-->
        <h2>Our Team</h2>
        <hr>

        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione voluptatum, possimus culpa ducimus aspernatur adipisci, magnam molestias, assumenda quo reiciendis sapiente iste delectus ullam enim voluptatem accusamus maiores, accusantium illo. weekend ...</p>
      </div>
    </div>

    <div class="row text-center">
      <div id="mugs" class="col-md-4">
        <div class="row">
          <div class="col-md-10 wrapper-default wrapper-xs wrapper-shadow no-gutter">
            <img src="img/crandallKyle.jpg" class="pull-top" style="width: 200px; border: 2px solid goldenrod; border-radius: 72%;" alt="image">


            <h2>Crandall Kyle</h2>
            <p>Wine Maker and Hip-Hop Singer and Dancer. </p>
            <a>
              <p class="btn" ng-click="show = !show">Read more...</p>
            </a>
            <div ng-show="show">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus commodi ratione laudantium, asperiores cumque dolor! Atque velit repellat fugit praesentium neque commodi totam earum! Vitae doloribus recusandae pariatur, reiciendis quidem!</p>
            </div>

          </div>
        </div>
      </div>

      <div id="mugs" class="col-md-4">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 wrapper-default wrapper-xs wrapper-shadow no-gutter">
            <img src="img/Edie.jpg" class="pull-top" style="border: 2px solid goldenrod; width: 200px; border-radius: 72%;" alt="image">


            <h2>Edie and Dale Johnson</h2>
            <p>Sales and Marketing and Professional Gambler.</p>
            <a>
              <p class="btn" ng-click="dow = !dow">Read more...</p>
            </a>
            <div ng-show="dow">
              <p>Dale and Edie Johnson came to Walla Walla in the early '70s, where both worked in the medical field. After
                retiring in their mid-30s, they traveled extensively while their children were young.<br> In recent years,
                they owned and operated Brickstone Design Gallery which, through its wine bar and shop, led them to a joint
                partnership with friends to plant a vineyard and make their own wine. Today, Edie and Dale still reside in
                the Walla Walla Valley, where they enjoy relaxing and biking around the local scenery. They have two beautiful,
                grown daughters, Brandy and Stacey.</p>
            </div>
          </div>

        </div>
      </div>

      <div id="mugs" class="col-md-4">
        <div class="row team">
          <div class="col-md-10 col-md-offset-2 wrapper-default wrapper-xs wrapper-shadow no-gutter">
            <img src="img/Gary.jpg" class="pull-top" style=" border: 2px solid goldenrod; width: 200px; border-radius: 72%;" alt="image">
            <h2>Gary Kagels</h2>
            <p>Vinyard Manager and World Renowned Televangelists</p>
            <a>
              <p class="btn" ng-click="how = !how">Read more...</p>
            </a>
            <div ng-show="how">
              <p>As a custom home builder, Gary has an excellent reputation of style and perfection in whatever he sets his
                mind on doing. The name of Plumb Cellars—and its flagship blend Damn Straight—was derived from setting their
                vineyard straight in accurate alignment with the plumb bob. He studied at The Center for Enology & Viticulture
                at Walla Walla Community College. He is Plumb Cellars' vineyard manager, ensuring that its grapes peak to
                their perfection of taste, for its wines.</p>
            </div>
            <p></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>